    <div class="quiz-main">
      <div class="quiz-title">
        どうぶつをかぞえよう！(オレンジせんのしたをみてね！)
      </div>

      <div class="question3">
      </div>

      <div class="quiz-margin">
      </div>

        <div id="test-question" class="under-question-detail">
          ここには問題が入ります。
        </div>

      <div class="answers">
        <button type="button" class="answer-true">True</button>
        <button type="button" class="answer-false">False</button>
        <button type="button" class="answer-true">True</button>
        <button type="button" class="answer-false">False</button>
      </div>
    </div>

    <%= render partial: "quiz3" %>