<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>javaクイズ</title>
    <link rel="stylesheet" href="style-quiz.css">
  </head>
  <body>
    <p>
      はりきっていこう！
    </p>

    <div id="test-question" class="question">
      <div class="question-detail">
        ここには問題が入ります。
      </div>
    </div>

    <div class="answers">
      <button type="button" class="answer-true">True</button>
      <button type="button" class="answer-false">False</button>
    </div>

    <script src="quiz_test.js"></script>
  </body>
</html>