/* * {
  margin: 0px;
  padding: 0px;
} */

/* main {
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
} */

.service-title {
  font-family: "ヒラギノ丸ゴ ProN", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #fff;
  text-shadow:-1px -1px 30px #ffbf69;
  padding-top: 20px;
}

.font-big {
  font-size: 72px;
}

header{
  background-color: #5c7aff;
  display: flex;
  /* align-items: flex-end; */
}

.smile {
  color: white;
  font-size: 0.5em;
  padding-right: 10px;
  vertical-align: middle;
}

.smart-icon {
  width: 50%;
  font-size: 60px;
  color : white;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.nav {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.list-right {
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
}

.login {
  text-decoration: none;
  color: white;
  font-size: 16pt;
  margin-right: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.sign-up {
  text-decoration: none;
  color: white;
  font-size: 16pt;
  margin-right: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif; 
}

.user-name {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 16pt;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.logout {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 16pt;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.title-contents {
  background-image: url("color-pencil.jpg");
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  /* object-position: 0px 0px; */
  overflow: hidden;
  border: 3px solid #f8f3bb;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  /* padding-top: 66%; 画面の高さ÷画面の幅×100 */
}

/* .service-title  */

.three-features {
  background-color: #fcf9ee;
}

.feature-lists {
  display: flex;
  justify-content: center;
}

.news {
  text-align: center;
}

.list {
  list-style-type: none;
}

.list-pict {
  border-radius: 10px; /*角丸指定*/
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.three-feature-texts {
  list-style-type: none;
  background-color: #fcf9ee;
  display: flex;
  justify-content: center;
  line-height: 0;
}

.feature-list-text {
  color: #79463e;
  font-size: 24px;
  padding-bottom: 20px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  margin-left: 110px;
  margin-right: 110px;
}

.service-contents {
  margin-bottom: 100px;
}

.contents {
  color: #5c7aff;
  font-size: 36px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  margin-left: 140px;
  margin-top: 30px;
  font-weight: bolder;
}

.quiz {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  padding-left: 200px;
}

.quiz-lists {
  list-style-type: none;
  padding-left: 220px;
  font-size: 18px;
}

.quiz-list {
  text-decoration: none;
}

.print {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  padding-left: 200px;
}

.print-lists {
  list-style-type: none;
  padding-left: 220px;
  font-size: 18px;
}

.print-list {
  text-decoration: none;
}

.information-ex {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  padding-left: 200px;
}

.post-page {
  text-decoration: none;
  /* margin-left: 40px; */
  padding-left: 220px;
  font-size: 18px;
}

footer {
  font-size: 0;
}

.footer-contents {
  background-color: #ffbf69;
  height: 30px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
