/* header{
  height: 50px;
  width: 80%;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #7a28cb;
} */

.quiz-main {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  color: #333333;
}

.quiz-title {
  font-size: 24pt;
  color: #5c7aff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question {
  height: 400px;
  background-color: #f8f3dd;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  font-size: 18pt;
  /* background-image: url("1~6数える(animals).jpg");
  background-position: center;
  background-size: cover; */
}

.question3 {
  height: 400px;
  background-color: #f8f3dd;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  font-size: 18pt;
  background-image: url("1~6数える(animals2).jpg");
  background-position: center;
  background-size: cover;
}

.quiz-margin {
  margin-top: 40px;
}

.under-question-detail {
  margin-top: 20px;
  margin: 0 auto;
  text-align  : center;
  font-size: 20pt;
  color: #333333;
}


.answers {
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}

.answer-true {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  /* background: #ffbf69; */
  color: #FFF;
  border-bottom: solid 4px #F79764;
  border-radius: 10px;
  margin: 10px 30px 10px;
  font-size: 24pt;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.answer-true:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.answer-true1 {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  /* background: #ffbf69; */
  color: #FFF;
  border-bottom: solid 4px #F79764;
  border-radius: 10px;
  margin: 10px 30px 10px;
  font-size: 24pt;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.answer-true1:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.answer-false {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  /* background: #ffbf69; */
  color: #FFF;
  border-bottom: solid 4px #F79764;
  border-radius: 10px;
  margin: 10px 30px 10px;
  font-size: 24pt;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.answer-false:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.answer-false1 {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  /* background: #ffbf69; */
  color: #FFF;
  border-bottom: solid 4px #F79764;
  border-radius: 10px;
  margin: 10px 30px 10px;
  font-size: 24pt;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.answer-false1:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #f9b18b; /* 背景色 */
  color: #FFF; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
  width: 300px;
  height: 80px;
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #ffbf69; /* 背景色 */
}