/* * {
  margin: 0px;
  padding: 0px;
} */

main {
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

header{
  background-color: #5c7aff;
  display: flex;
  /* align-items: flex-end; */
}

.smart-icon {
  width: 50%;
  font-size: 60px;
  color : white;
  padding-left: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.nav {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.list-right {
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
}

.login {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.sign-up {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif; 
}

.user-name {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 16pt;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.logout {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 16pt;
  font-family: "ヒラギノ丸ゴ ProN", Arial, Helvetica, sans-serif;
}

.title-contents {
  background-image: url("color-pencil.jpg");
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  /* object-position: 0px 0px; */
  overflow: hidden;
  border: 3px solid #f8f3bb;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  /* padding-top: 66%; 画面の高さ÷画面の幅×100 */
}

/* .service-title  */

.three-features {
  background-color: #fcf9ee;
}

.feature-lists {
  display: flex;
  justify-content: space-around;
}

.news {
  text-align: center;
}

.list {
  list-style-type: none;
}

.list-pict {
  border-radius: 10px; /*角丸指定*/
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.three-feature-texts {
  list-style-type: none;
  background-color: #fcf9ee;
  display: flex;
  justify-content: space-around;
  line-height: 0;
}

.feature-list-text {
  color: #79463e;
  font-size: 24px;
  padding-bottom: 20px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.contents {
  color: #5c7aff;
  font-size: 36px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

.quiz {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.quiz-lists {
  list-style-type: none;
}

.quiz-list {
  text-decoration: none;
}

.print {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.print-lists {
  list-style-type: none;
}

.print-list {
  text-decoration: none;
}

.information-ex {
  color: #ffbf69;
  font-size: 24px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
}

.post-page {
  text-decoration: none;
  margin-left: 40px;
}

.footer-contents {
  background-color: #ffbf69;
  height: 30px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  font-weight: bold;
}

.post{
  border: 1px solid;
  width: 80%;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 5px;
}

.post-date{
  color: gray;
  font-size: 8px;
}

.post-user-name {
  color: #5c7aff;
  font-size: 16px;
  margin-bottom: 3px;
}

.post-content {
  color: #333333;
  font-size: 16px;
  margin-top: 10px;
}

.choose-list {
  /* background-color: red; */
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  /* display: inline-block; */
  /* justify-content: flex-end; */
}

/* .destroy-btn {
  background-color: red;
  width: 15%;
  height: auto;
  padding-top: 5px;
}

.edit-btn {
  background-color: red;
  width: 15%;
  height: auto;
  padding-top: 5px;
} */

.edit-btn {
  font-size: 1.5em;
  color: #efe2a9;
  padding-top: 10px;
  margin-left: 10px;
}

.destroy-btn {
  font-size: 1.5em;
  color: lightgray;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.heart {
  font-size: 1.5em;
  color: pink;
  padding-top: 11px;
  margin-left: 20px;
  margin-right: 10px;
}

.heart2 {
  font-size: 1.5em;
  color: pink;
  padding-top: 11px;
  margin-left: 20px;
  margin-right: 10px;
}
.heart-count {
  font-size: 8pt;
  padding-top: 20px;
  margin-right: -16px;
}
